<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Scooters</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="" th:href="@{/css/style2.css}">
  <th:block th:insert="~{fragments/common-resources :: head}"></th:block>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container my-5">

  <div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
  </div>

  <h2>Dodaj Nowy Model Pojazdu</h2>
  <form th:action="@{/api/vehicleType/addModel}" th:object="${vehicleType}" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="brand">Marka:</label>
      <input type="text" id="brand" th:field="*{brand}" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" id="model" th:field="*{model}" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="type">Typ:</label>
      <select id="type" th:field="*{type}" class="form-control">
        <option th:each="type : ${T(com.Hulajnogi.App.enums.ScooterType).values()}"
                th:value="${type}"
                th:text="${type}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="capacity">Pojemność:</label>
      <input type="number" id="capacity" th:field="*{capacity}" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="price">Cena:</label>
      <input type="number" id="price" th:field="*{price}" class="form-control"/>
    </div>
    <label for="image">Zdjęcie Pojazdu:</label>
    <input type="file" id="image" name="image"><br>
    <button type="submit" class="btn btn-primary">Dodaj Model</button>
  </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
