<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Scooters</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="" th:href="@{/css/style2.css}">
  <th:block th:insert="~{fragments/common-resources :: head}"></th:block>
</head>
<body>
<header th:insert="~{fragments/header :: header}"> </header>
<div class="container">
  <h2 class="text-center">Lista Przejazdów</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Użytkownik</th>
      <th>Pojazd</th>
      <th>Data Rozpoczęcia</th>
      <th>Data Zakończenia</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="rental : ${rentals}">
      <td th:text="${rental.id}"></td>
      <td th:text="${rental.status}"></td>
      <td th:text="${rental.user.firstName} + ' ' + ${rental.user.lastName}"></td>
      <td th:text="${rental.vehicle.id}"></td>
      <td th:text="${rental.rentalStart}"></td>
      <td th:text="${rental.rentalEnd}"></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:insert="~{fragments/footer :: footer}"> </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
